<div class="container row flex-center flex-middle">
  <form action="/login" method="POST" class="sm-12 md-8 col">

    <div class="row flex-center">
      <div class="col col-8">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" name="username" type="text" class="input-block">
        </div>
      </div>
    </div>

    <div class="row flex-center">
      <div class="col col-8">
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" class="input-block">
        </div>
      </div>
    </div>

    <div class="row flex-center">
      <div class="col col-7">
        <button class="btn-block">Login</button>
      </div>
    </div>
  </form>
</div>