<div class="container row flex-center flex-middle">
  <form id="loginForm" class="sm-12 md-8 col">

    {{> formFields}}

    <div class="row flex-center">
      <div class="col col-7">
        <button class="btn-block">Login</button>
      </div>
    </div>
  </form>
</div>

{{> script filename="login.js"}}
