<div class="container row flex-center flex-middle">
  {{!-- action="/signup" method="POST" --}}
  <form id="signupForm"  class="sm-12 md-8">

    {{> formFields}}

    <div class="row flex-center">
      <div class="col col-7">
        <button class="btn-block">Sign Up</button>
      </div>
    </div>
  </form>

  {{> script filename="signup.js"}}
</div>